.container {
    margin: auto;
    width: 75%;
    padding: 5px;
}

.logo {
    height: 150px;
    width: auto;
    margin: auto;
    display: block;
}

.featuredPhoto {
    height: 300px;
    padding-left: 325px;
}

.project {
    height: 300px;
}

.information {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.siteTitle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.infoTextbox {

}